Makefile~
CMakeFiles/
CMakeCache.txt
**/*~
*.log
**/.DS_Store
.vscode/
bin/
lib/

test/CMakeCache.txt
test/CMakeFiles/
test/Makefile
test/cmake_install.cmake
test/BlockTowerGA-test

build/

googletest/